*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

.section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #32a852;
    overflow: hidden;
}

.section::before{
    width: 350px;
    height: 350px;
    content: "";
    position: absolute;
    top: 20px;
    right: 500px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.6);
}

.section::after{
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: rgba(255,255,255,0.4);
    bottom: 50px;
    left: 600px;
    border-radius: 50%;
}

.section .yes-alert{
    padding: 25px 50px;
    background-color: #fff;
    position: fixed;
    right: 0;
    top: 100px;
    border-radius: 15px 0 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    transition: .4s ease;
    display: none;
}

.yes-alert i{
    margin-right: 10px;
    font-size: 18px;
    color: #32a852;
}

.section .no-alert{
    padding: 25px 50px;
    background-color: #fff;
    position: fixed;
    right: 0;
    top: 100px;
    border-radius: 15px 0 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    display: none;
    transition: .4s ease;
}

.no-alert i{
    font-size: 18px;
    margin-right: 10px;
    color: crimson;
}

.content{
    width: 500px;
    height: 650px;
    background-color: rgba(255,255,255,0.8);
    border-radius: 20px;
}

.content .logo-img{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img img{
    width: 150px;
    height: 150px;
}

.content .content-body{
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content-body .form{
    width: 300px;
    padding: 5px 0 15px 0;
    margin: 25px 0;
    position: relative;
    display: flex;
    flex-direction: row;
}

.content-body .form::after{
    content: "";
    position: absolute;
    transition: .4s ease;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 2px;
    border-radius: 2px;
    background-color: #32a852;
}

.content-body .form:active::after{
    background-color: blue;
    height: 3px;
}

.form label{
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form label i{
    font-size: 18px;
    color: #32a852;
}

.form input{
    outline: none;
    border: none;
    width: 230px;
    background-color: transparent;
    color: #32a852;
    font-size: 15px;
    font-weight: 50;
}

.content-footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    padding: 20px 0;
    justify-content: center;
}

.content-footer a{
    text-decoration: none;
    color: green;
    padding: 10px 35px;
    border-radius: 20px;
    margin: 0 7px;
    transition: .4s ease;
    border: 1px solid green;
}

.content-footer a:hover{
    background-color: green;
    color: #fff;
}

.content-footer a.btn{
    background-color: green;
    color: #fff;
}

@media only screen and (max-width: 1840px) {
    .section::before{
        top: 0;
        right: 400px;
    }
    .section::after{
        bottom: 0;
        left: 500px;
    }
}

@media only screen and (max-width: 1650px) {
    .section::before{
        top: -100px;
        right: 300px;
    }
    .section::after{
        bottom: 0;
        left: 400px;
    }
}

@media only screen and (max-width: 1400px) {
    .section::before{
        top: -100px;
        right: 200px;
    }
    .section::after{
        bottom: 0;
        left: 300px;
    }
}

@media only screen and (max-width: 1200px) {
    .section::before{
        top: -100px;
        right: 100px;
    }
    .section::after{
        bottom: 0;
        left: 200px;
    }
}

@media only screen and (max-width: 1000px) {
    .section::before{
        top: -100px;
        right: 0px;
    }
    .section::after{
        bottom: 0;
        left: 100px;
    }
}

@media only screen and (max-width: 800px) {
    .section::before{
        top: -100px;
        right: -100px;
    }
    .section::after{
        bottom: 0;
        left: 0px;
    }
}

@media only screen and (max-width: 600px) {
    .section::before{
        top: -150px;
        right: -150px;
    }
    .section::after{
        bottom: -50px;
        left: -50px;
    }
}

@media only screen and (max-width: 500px) {
    .content{
        width: 90%;
        height: 600px;
    }
}